<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.8/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="OXID Console Acceptance Test Suite">
            <directory>tests/acceptance</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>copy_this</directory>
            <exclude>
                <directory>copy_this/application/commands/templates</directory>
                <directory>copy_this/migration</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
